footer {
    background-color: #ffdab9;
    width: 100%;
    height: 60px;
    display: flex;
    position: absolute;
    bottom: 0;
}

.footer-left {
    width: 30%;
}


/*コピーライト*/
.copyright {
    line-height: 60px;
    text-align: center;
    width: 40%;
}

.contact {
    line-height: 60px;
    text-align: center;
    width: 30%;
    text-align: right;
}

.contact a {
    display: inline-block;
    padding-right: 45px;
}



