/*mapのページだけ"user agent stylesheet"が邪魔しているようなのでheader情報を追加*/
.header-title h1 {
    font-size: 40px;
}

.containers {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 55px;
}
.containers h1 {
  font-size: 30px;
}

.place-index {
    width: 40%;
    font-size: 30px;
    margin: 0 auto;
    text-align: left;
}

.place-index a{
    text-decoration: underline;
    color: #4E4A14;
}

.container {
    padding-top: 0px;
    text-align: center;
    font-size: 25px;
}



#map {
    width: 50%; 
    height: 300px; 
    border-bottom: 5px solid orange;
    padding-bottom: 30px;
}
