@charset "utf-8";

/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/

#splash {
    /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background:#333;
  text-align:center;
  color:#fff;
}


/*========= レイアウトのためのCSS ===============*/


/*#container{*/
/*    width:100%;*/
/*    height: 100vh;*/
/*    background: #ccc;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*}*/


a{
    color: #333;
}
a:hover{
     text-decoration: none;   
}

/*ここまでがローディング用*/
body {
    font-family: 筑紫A丸ゴシック;
    background-color: #fffaf0;
}

/*ここからはheader*/
header {
    background-color: #ffdab9;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header-title {
    line-height: 80px;
    text-align: center;
    font-size: 25px;
}

.header-right ul {
    list-style: none;
    float: right;
    position: fixed;
    top: 0px;
    right: 0px;
}

.header-right li {
    float: left;
    line-height: 80px;
    padding-right: 25px
}

.header-right a {
    display: block;
    /*background-color: rgba(255, 218, 185, 0.1);*/
    transition: all 0.5s;
    padding: 0px 20px;
}
.header-right a:hover {
    background-color: #ffa500;
}

/*ここからmain*/
a {
    text-decoration:none;
}

.title {
    text-align: left;
    width: 80%;
    background: linear-gradient(to right, #fffaf0 0%, #fffaf0 51%, #FFDCAC 100%);
    background-size: 200% auto;
    transition: .3s;
}
.title:hover {
    position: relative;
    top: 5px;
    background-position: right center;
}

.trash {
    text-align: left;
    width: 20%;
    padding-top: 30%;
}

.trash:hover {
    position: relative;
    top: 5px;
}

.container {
    background-color: #fffaf0;
    font-size: 28px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}

.itineraries {
    width: 100%;
}

.itineraries h1 {
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.itinerary {
    font-size: 20px;
    display:flex;
    margin: 0px 20% 5px 25%;
}

.btn {
    text-align: center;
}

.new_entry {
    padding: 8px 24px;
    color: snow;
    display: inline-block;
    font-weight: bold;
    border-radius: 100px;
    background-color: rgba(230, 116, 71, 0.8);
    transition: 0.3s;
    text-align: center;
    margin: auto;
}

.new_entry:hover {
    color: #ff8c00;
    background: snow;
    border: 2px solid #ff8c00;
}

.new_entry:active {
    position: relative;
    top: 6px;
    
}


/*.index_detail {*/
/*    margin:0;*/
/*    margin-right: 10%;*/
/*    margin-left: 40%;*/
/*    width: 50%;*/
/*}    */
    

