.container {
    padding: 100px 35% 0px 35%;
    text-align: center;
    font-size: 20px;
    margin: auto;
    text-align: left;
}

input {
    background-color: white;
    border: 2px solid orange;
    border-radius: 5px;
}

textarea {
    width: 100%;
    border: 2px solid orange;
    background-color: white;
    height: 200px;
}

.center {
    text-align: center;
}

.btn {
    border: 2px solid orange;
    border-radius: 40px;
    background-color: #EB6357;
    padding: 0px 30px;
    color: white;
    font-family: 筑紫A丸ゴシック;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 0px 5px #72220A;
}

.btn:active {
    box-shadow: none;
    position:relative;
    left: 0px;
    top: 5px;
}

/*confirm用*/
.modify {
    border: 2px solid orange;
    border-radius: 40px;
    background-color: #32cd32;
    padding: 0px 30px;
    color: white;
    font-family: 筑紫A丸ゴシック;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 0px 5px #008000;
}

.modify:active {
    box-shadow: none;
    position:relative;
    left: 0px;
    top: 5px;
}


/*thanks用*/
.container-thanks {
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
    width: 100%;
}

/*カーソルを重ねた時に「しおり一覧へ」の文字の色が変わってしまうのを避けるため*/
.to-index:hover {
    color: white;
}

.warning {
    color: red;
}

