@media(max-width:425px){
    footer {
        height: 60px;
        position: absolute;
        bottom: 0;
    }
    
    /*コピーライト*/
    .copyright span {
        line-height: 100%;
        text-align: center;
        font-size: 11px;
    }
    
    .copyright span {
        line-height: 100%;
    }

    .contact {
        /*line-height: 10px;*/
        font-size: 13px;
    }
    
    .contact a {
        padding-right: 15px;
    }
    
}

