@media(max-width:425px){
    body {
        font-family: 筑紫A丸ゴシック;
        margin: 0;
        background-color: #fffaf0;
    }
    
    a {
        text-decoration:none;
        font-weight: bold;
        color: black;
    }
    a:hover{
         color: orange;
    }
    span {
        font-weight: bold;
    }
    
    .error-message {
        color:red;
        font-size: 15px;
    }
    
    .responsive {
        display: block;
    }
    
    .not-responsive {
        display: none;
    }
    
    /*ここからはheader*/
    header {
        background-color: #ffdab9;
        width: 100%;
        height: 8%;
        position: fixed;;
    }
    
    .header-title {
        line-height: 50px;
        text-align: center;
        font-size: 13px;
    }
    
    .header-right {
        position: absolute;
    }
    
    header h1 {
        margin: 0 auto;
    }
    header a {
        cursor: pointer;
    }
    
    ul {
        height: 50%;
        padding: 0px 0px;
    }
    
    .bars {
        height: 16%;
        display: flex;
        align-items: center;
    }
    
    .setting-modal-contents {
        position: fixed;
        top: 16%;
        right: 0px;
        width: 25%;
        height: 25%;
    }
    
    .setting-modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 100;
      display: none;
    }
    
    .setting-modal-contents {
      position: absolute;
      top: 20%;
      left: 30%;
      background-color: #fffaf0;
      padding: 20px 0 40px;
      border-radius: 10px;
      width: 40%;
      height: 60%;
      text-align: center;
    }
    
    /*.close-setting-icon {*/
    /*    width: 5px;*/
    /*    height: 5px;*/
    /*}*/

}