@media(max-width:425px){
    .responsive {
        display: block;
    }
    
    .not-responsive {
        display: none;
    }
    
    .containers {
        padding-bottom: 60px;
    }
    
    /*ここからはheader*/
    header {
        height: 55px;
    }
    
    .header-title {
        line-height: 50px;
        align-items: center;
        text-align: left;
        font-size: 13px;
        width: 40%;
    }
    
    .header-right {
        height: 100%;
        /*align-items: center;*/
        font-size: 12px;
        width: 60%;
        text-align: right;
    }
    
    .header-right ul {
        align-items: center;
        display: flex;
        height: 100%;
    }
    
    .header-right li {
        align-items: center;
        padding-right: 0px;
    }
    
    .header-right a {
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .icon{
        display: inline-block;
    }
    
    
    header h1 {
        margin: 0 auto;
        height: 100%;
        text-align: center;
    }
    
    header a {
        cursor: pointer;
    }
    
    ul {
        height: 50%;
        padding: 0px 0px;
    }
    
}