@media(max-width:425px){
    .container {
        padding-top: 100px;
        text-align: center;
        margin: auto;
        margin-bottom: 10%;
        padding-top: 15%;
        width: 90%;
    }
    
    #gmap {
        margin: 0 auto;
        width: 100%;
    }
    .header-title{
        height:100%;
    }
    
    .header-title a {
        line-height: 100%px;
    }
    
    .title h1 {
        margin: 0px;
        width: 100%;
        font-size: 20px;
    }

}