@media(max-width:425px){
    body {
        height: 100%;
    }
    
    p {
      font-size: 19px;  
    }
    
    .containers {
        padding: 60px 0px 0px 0px;
        margin-bottom: 20px;
        width: 100%;
        heghit: 100%
    }
    
    .theme {
        margin-bottom: 10px;
        text-align: center;
    }
    
    .theme h1 {
        margin-top: 0px;
        font-size: 30px;
    }
    
    .name {
        padding: 0px;
    }
    
    .triangles {
        padding-left: 0px;
        height: 230px;
    }
    
    .to-destination {
        height: 250px;
    }
    
    .route {
        margin-top: 0px;
        margin-bottom: 15px;
    }
    
    .triangle {
        padding-top: 15px;
    }
    
    .departure {
        padding-left: 20px;
        padding-bottom: 20px;
    }
    
    .departure-time-empty {
        padding-top: 0px;
        padding-bottom: 40px;
    }
    
    .departure-time-entered {
        display: inline-block;
        /*padding-top: 20px;*/
        padding-bottom: 40px;
    }
    
    .destinations {
        padding-left: 20px;
    }
    
    .arrival-time-empty {
        padding-top: 20px;
    }
    
    .arrival-time-entered {
        display: inline-block;
        padding-top: 40px;
    }
    
    /*completedのみ*/
    
    .modal-contents {
        position: fixed;
        top: 15%;
        left: 10%;
        width: 80%;
        height: 60%;
    }
    
    textarea {
        position: fixed;
        top: 25%;
        left: 13.3%;
        width: 70%;
        height: 55%;
    }
}
